<section ng-controller="<%= classifiedPluralName %>Controller" ng-init="findOne()">
    <div class="page-header">
        <h2>{{<%= camelizedSingularName %>.name}}<a ng-href="#!/<%= slugifiedPluralName %>" class="btn btn-info pull-right"><i class="fa fa-plus"></i> List</a></h2>
    </div>
    <div class="pull-right" ng-show="authentication.user._id == <%= camelizedSingularName %>.user._id">
        <a class="btn btn-primary" href="/#!/<%= slugifiedPluralName %>/{{<%= camelizedSingularName %>._id}}/edit">
            <i class="fa fa-edit"></i>
        </a>
        <a class="btn btn-primary" ng-click="remove();">
            <i class="fa fa-trash-o"></i>
        </a>
    </div>
    <small>
        <em class="text-muted">Posted on {{<%= camelizedSingularName %>.created | date:'mediumDate'}} by {{<%= camelizedSingularName %>.user.displayName}}</em>
    </small>
</section>
